<div class="min-h-screen bg-gradient-to-br from-blue-50 to-indigo-100 flex items-center justify-center p-4">
    <div class="max-w-md w-full bg-white rounded-2xl shadow-xl p-8">
        <div class="space-y-6">
            <div class="text-center">
                <h2 class="text-3xl font-bold text-gray-900 mb-2">Verification Code</h2>
                <p class="text-gray-600">Enter the code we sent to your email</p>
            </div>

            <div class="flex justify-center items-center m-6">
                <p-inputotp [length]="6" [(ngModel)]="otb.verificationCode" size="large" class="w-full" />
            </div>

            <button (click)="verify()" class="w-full bg-indigo-600 text-white py-3 px-4 rounded-xl font-medium 
                         hover:bg-indigo-700 transition-colors duration-200 
                         focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                Verify Code
            </button>

            <div class="flex items-center justify-center space-x-2">
                <span class="text-gray-500">Didn't receive the code?</span>
                <button  (click)="resend()" 
                class="text-indigo-600 font-semibold hover:text-indigo-800 
                             transition-colors duration-200">
                    Resend
                </button>
            </div>
        </div>
    </div>
</div>