<p-dialog [(visible)]="visible" [modal]="true" [closable]="true" [header]="title" [style]="{width: '25rem'}">
    <span class="p-text-secondary block mb-8">{{ content }}</span>

    <div *ngFor="let input of inputs" class="flex items-center gap-4 mb-4">
        <label class="font-semibold w-24">{{ input.label }}</label>
        <input pInputText [type]="input.type" [(ngModel)]="input.model" class="flex-auto" [placeholder]="input.placeholder" />
    </div>

    <div class="flex justify-end gap-2">
        <button *ngFor="let action of actions" pButton label="{{ action.label }}" (click)="onActionButtonClick(action.action)" class="p-button-text"></button>
    </div>
</p-dialog>
