<div class="card flex justify-center">
    <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
        <span class="p-text-secondary block mb-8">Update your information.</span>

        <div *ngFor="let input of inputs" class="flex items-center gap-4 mb-4">
            <label   class="font-semibold w-24">{{ input.label }}</label>
            <input pInputText   [type]="input.type" [(ngModel)]="input.model" class="flex-auto"  />
        </div>
        

        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button label="Save" (click)="visible = false" />
        </div>
    </p-dialog>
</div>