<app-auth-layout>

    <div class="py-12 text-center " >
        <h1 class="text-3xl font-bold" >
            Users Management
        </h1>
    </div>
  <div class="card">
    <div class="flex justify-end p-5 ">
      <p-button label="Add User" icon="pi pi-plus" severity="success" ></p-button>
    </div>
    <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template #header>
        <tr>
          <th>name</th>
          <th>email</th>
          <th>age</th>
          <th>credit score</th>
          <th>action</th>
        </tr>
      </ng-template>
      <ng-template #body let-user>
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.creditScore }}</td>
          <td class="flex justify-center gap-2 ">
            <p-button label="Update" icon="pi pi-pencil" (click)="onUpdate(user.id)" severity="info"></p-button>
            <p-button label="Delete" icon="pi pi-trash" (click)="onDelete(user.id)" severity="danger"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</app-auth-layout>
